.equipment
  +make-row()
  &__header
    font-size: 22px
    color: #355fc9
    text-align: center
    font-weight: normal
    margin-bottom: 44px
  &__item
    +make-col()
    +make-col-span(4)
    +media-breakpoint-down(sm)
      +make-col-span(12)
      margin-bottom: 16px
    &_wrap
      background: #eaf5ff
      border: 1px solid #d0dae3
      padding: 26px 24px
    &_name
      font-size: 22px
      color: #355fc9
      line-height: 22px
      height: 44px
      overflow: hidden
      margin-bottom: 19px
      font:
        family: 'Roboto'
        weight: 600
    &_img
      height: 168px
      border: 1px solid #d0dae3
      position: relative
      background: #fdfdfd
      margin-bottom: 14px
      &_value
        margin: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        @extend .img-fluid
    &_price
      margin-bottom: 5px
      &_value
        font:
          family: 'Roboto'
          weight: 600
        color: #ff0000
        font-size: 30px
      &_quantity
        color: #140808
        font-size: 14px
        vertical-align: 12px
        padding-left: 8px
    &_description
      font-size: 14px
      color: #140808
      line-height: 17px
      height: 68px
      overflow: hidden
      margin-bottom: 6px
    &_characteristics
      display: block
      margin-bottom: 12px
    &_button
      @extend %colored-button
