.stepList
  padding-top: 100px
  @extend .list-unstyled
  +make-row()
  +media-breakpoint-down(sm)
    padding-top: 50px
  &__item
    +make-col()
    +make-col-span(4)
    +media-breakpoint-down(sm)
      +make-col-span(12)
      margin-bottom: 40px
    &Number
      font-size: 24px
      color: #355fc9
      border: 2px solid #355fc9
      padding: 6px 18px
      border-radius: 50%
      display: inline-block
      margin-bottom: 20px
    &Name
      font-size: 18px
      color: #355fc9
      font-weight: 300
      line-height: 22px
      margin-bottom: 24px
    &Description
      color: #555555
      line-height: 19px
      padding: 0 11px


  &
    perspective: 600px
  &__item
    opacity: 0
    transform: rotateY(-45deg) scale(.75)
    transition: all 1s ease
    &:nth-child(2)
      transition-delay: 1s
    &:nth-child(3)
      transition-delay: 2s
  &.active &__item
    opacity: 1
    transform: rotateY(0deg) scale(1)
