.workExamples
  @extend .list-unstyled
  +make-row(46px)
  padding-top: 100px

  &__item
    +make-col(46px)
    +make-col-span(3)
    text-align: center
    +media-breakpoint-down(md)
      +make-col-span(6)
      margin-bottom: 42px
    +media-breakpoint-down(sm)
      +make-col-span(12)
    &Separator
      display: none
      +media-breakpoint-only(md)
        display: block
        clear: both

    &Link
      text-decoration: none
      &:hover
        text-decoration: none

    &_picture
      border: 5px solid #80878a
      +size(100%, 208px)
      position: relative
      margin-bottom: 24px
      +media-breakpoint-down(md)
        margin-bottom: 8px
      transition: all $hover-transition-duration ease
      &:after
        content: ""
        +size(43px, 42px)
        background: url("item_mark_360.png") center no-repeat
        position: absolute
        bottom: 9px
        right: 13px
      &Holder
        +size(100%, 260px)
        position: absolute
        bottom: 0
        left: 0
        display: flex
        transition: all $hover-transition-duration ease

        img
          margin: auto

    &Name
      color: white
      font:
        family: 'Roboto'
        weight: 100
      line-height: 20px
      transition: all $hover-transition-duration ease

    &Link:hover &_picture
      border-color: white
      &Holder
        bottom: 16px
    &Link:hover &Name
      color: $gray-light
