.section
  position: relative

  .container
    z-index: 64
    position: relative

  &__headGroup
    text-align: center

  &__header
    font:
      family: 'Roboto'
      weight: 900
      size: 48px
    text-transform: uppercase
    +media-breakpoint-down(sm)
      font-size: 7vw!important
      line-height: 10vw!important

  &__subHeader
    font:
      family: 'Roboto'
      weight: 300
      size: 36px
    +media-breakpoint-down(sm)
      font-size: 6vw!important
      line-height: 8vw!important

  &__bg
    @extend %full-size
    overflow: hidden
    &Image
      +size(100%, 110%)
      position: absolute
      left: 0
      top: -5%
      z-index: 0
      background: center no-repeat
      background-size: cover
      transform: translate3d(0, 0, 0)
