@import "../animations/section1"


.section1
  height: 1337px
  background: #2d3486
  color: white
  text-align: center
  padding-top: 65px
  +media-breakpoint-down(md)
    height: 1080px
  +media-breakpoint-down(sm)
    padding-top: 10vw
    height: 208vw

  &__logo
    margin-bottom: 60px
    +media-breakpoint-down(sm)
      +img-fluid()

  &__subHeader
    margin-bottom: 46px

  &__description
    @extend .center-block
    max-width: 744px
    font-size: 22px
    line-height: 36px
    +media-breakpoint-down(sm)
      font-size: 5vw!important
      line-height: 8vw!important

  &__table
    position: absolute
    bottom: -70px
    z-index: 32
    +size(100%, 828px)
    display: flex
    justify-content: center
    align-items: flex-end
    &Item
      width: 100%
      max-width: 1230px
      position: relative
      &Image
        @extend .img-fluid
      &Shadow
        display: block
        +size(95%, auto)
        position: absolute
        bottom: -7.5%
        left: 32%
        z-index: -1
      &360
        display: block
        position: absolute
        +size(94.15%, auto)
        top: -.1626%
        left: -3%

  &__bottom
    position: absolute
    z-index: 16
    bottom: -1px
    left: 0
    +size(100%, 130px)
    +media-breakpoint-down(sm)
      height: 10vw

  &__bgImage
    &Container
      +size(114%)
      position: absolute
      left: -5%
      top: -5%
      background: url('../images/bg1.jpeg') center no-repeat
      background-size: cover
      transform: scale(1.2) translate(5%, 5%)
      animation: section1_bg 90s 1
