.section3
  padding-top: 210px
  padding-bottom: 118px
  background: #165861
  color: white
  +media-breakpoint-down(md)
    padding-bottom: 180px
  +media-breakpoint-down(sm)
    padding-top: 100px

  &__header
    font-size: 36px
    font-weight: 700
    margin-bottom: 13px

  &__subHeader
    font-size: 24px
    margin-bottom: 56px

  .pList
    @extend .list-unstyled
    font-size: 18px
    font-weight: 300
    &__item
      padding: 4px 0 13px 79px
      line-height: 30px
      &--diameter
        background: url("pList__item--diameter.png") 20px 4px no-repeat
      &--color
        background: url("pList__item--color.png") 21px 6px no-repeat
      &--temp
        background: url("pList__item--temp.png") 15px 1px no-repeat
      &--weight
        background: url("pList__item--weight.png") 16px 1px no-repeat
      &--material
        margin-top: 102px
        padding-left: 0
        @media (min-width: 1600px)
          margin-left: 120px
        &:before
          content: ""
          background: url("pList__item--material.png") 0 0 no-repeat
          margin-top: -12px
          margin-right: 31px
          height: 92px
          width: 92px
          float: left
        +media-breakpoint-down(sm)
          line-height: 8vw
          &:before
            margin-top: 0
            margin-right: 8px


  &__corner
    position: absolute
    z-index: 16
    top: -2px
    left: 0
    width: 100%


  &__bg
    &Image
      background-image: url('../images/bg3.jpeg')

  &__camera
    position: absolute
    right: 0
    bottom: 0
    z-index: 32
    width: 1105px
    max-width: 75%
    &Bg
      padding-top: 57%
      margin-bottom: 15%
      background-image: radial-gradient(ellipse farthest-side at 56% 56% , #b0c3e7 0%, transparent 100%)
    &Image
      display: block
      position: absolute
      right: 0
      bottom: 0
      max-width: 100%
