$color-start: #23cefd
$color-stop: #04da39
$color-border: #76e2f0


%hover-transition
  transition: all $hover-transition-duration ease


a, button
  @extend %hover-transition
  &:focus, &:active
    outline: none


%colored-button
  @extend .btn
  +button-variant(white, $color-start, $color-border)
  +gradient-vertical($color-start, $color-stop)
  &:hover
    +gradient-vertical(darken($color-start, 15%), darken($color-stop, 15%))


%blink-button
  @keyframes order-button
    0%
      +gradient-vertical($color-start, $color-stop)
    89%
      +gradient-vertical($color-start, $color-stop)
    92%
      +gradient-vertical($brand-yellow, $brand-yellow)
    96%
      +gradient-vertical($color-start, $color-stop)
    99%
      +gradient-vertical($brand-yellow, $brand-yellow)
    100%
      +gradient-vertical($color-start, $color-stop)
  animation: order-button 4s infinite
